<div class="container mt-5 px-2 mb-2">
    <div class="row align-items-center">
        <h1 class="col-12">Contacto</h1>
        <p class="col-12">Reserva ya tu vieaje a CARACAS rellenando el siguiente formulario. Si tienes alguna duda
            mencionala en el apartado de comentarios y nos pondremos en contacto con usted.</p>
    </div>
</div>
<div class="container mt-1 px-2 mb-5 ">
    <form>
        <div class="row g-3 align-items-center justify-content-center">
            <div class="col-auto">
                <label for="inputPassword6" class="col-form-label">Password</label>
            </div>
            <div class="col-auto px-5">
                <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
            </div>
            <div class="col-2"></div>
        </div>
        <div class="col-2"></div>
        <div class="col-8">
            <div>
                <label for="floatingTextarea2">Comentarios</label>
            </div>
            <div class="form-floating col-8">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                    style="height: 80px"></textarea>
            </div>
        </div>
        <div class="col-2"></div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

</div>