<!-- your html code here -->
<div class="container-fluid">
    <div class="row d-flex justify-content-center"></div>
        <h1>Portfolio</h1>
        <p>Caracas es la capital y ciudad más grande de Venezuela, ubicada en un valle dentro de la Cordillera de la
                Costa, a unos 900 metros sobre el nivel del mar. Es el principal centro administrativo, financiero,
                comercial y cultural del país. Conocida por su clima agradable, a menudo llamado "Ciudad de la Eterna
                Primavera", y su rica historia y diversidad cultural. 
            </p>
    
    
        <div class="col-4 d-flex">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        cards content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-4 d-flex">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        cards content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-4 d-flex">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        cards content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>>