<!-- your html code here -->
<div class="container mt-1 mb-2">
    <div class="d-flex flex-column-reverse flex-md-row align-items-center ">  

      <div class="col-md-3 col-sm-12 text-center">
        <img src="https://pbs.twimg.com/media/Fg5_LgGXwAA3M1Q.jpg" alt="Perfil" class="img-fluid rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
      </div>


      <div class="col-md-9 col-sm-12">
        <h2>
          <b>Si el diablo se pone comico</b> 
          <span class="text-body-secondary">Se lo acomodo por las costillas</span>
        </h2>
        <!--Texto de abajo-->
        <p class="text-body-secondary">
            De las frases mas random de venezuela
        </p>
      </div>
  
    </div>
</div>